{
  "youtube": {
    "apiKey": "",
    "chatPollingIntervalSec": 15
  },
  "fuyukaApi": {
    "baseUrl": "ws://127.0.0.1:38321",
    "answerLevel": 16,
    "answerLength": {
      "default": 30
    }
  },
  "oneComme": {
    "pathUsersCsv": ""
  }
}
